@inherits BaseComponent<NewPlannedMealComponentViewModel>

@page "/plannedMeals/new"

@if (showDetailsInformation)
{
    <div class="card">
        @if (ViewModel.Response.Success)
        {
            <div class="card-header header-with-button">
                <h5 class="float-start">Success</h5>
                <button class="btn btn-close float-end" @onclick="() => { showDetailsInformation = false; }"></button>
            </div>
            <div class="card-body">
                <p class="details-success">Meal planned successfully</p>
            </div>
        }
        else
        {
            <div class="card-header header-with-button">
                <h5 class="float-start">@ViewModel.Response.Error.Title</h5>
                <button class="btn btn-close float-end" @onclick="() => { showDetailsInformation = false; }"></button>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var detail in ViewModel.Response.Error.Details)
                    {
                        <li class="details-fail">@detail</li>
                    }
                </ul>
            </div>
        }
    </div>
    <br />
}

<div class="card">
    <h5 class="card-header">Plan a meal</h5>
    <div class="card-body">
        <EditForm Model="_createPlannedMealModel" OnValidSubmit="OnValidSubmitAsync">
            <FluentValidationValidator />

            <div class="mb-3">
                <label for="mealSelector" class="form-label">Meal</label>
                <BlazoredTypeahead id="mealSelector" placeholder="Search by name..."
                                   SearchMethod="SearchMealsAsync"
                                   ConvertMethod="@ConvertMeal"
                                   EnableDropDown="true"
                                   MaximumSuggestions="ViewModel.Meals.Count"
                                   @bind-Value="_createPlannedMealModel.MealId">
                    <SelectedTemplate Context="mealId">
                        @{
                            var selectedMeal = LoadSelectedMeal(mealId);

                            <text>@selectedMeal.Name</text>
                        }
                    </SelectedTemplate>
                    <ResultTemplate Context="meal">
                        @meal.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
                <ValidationMessage For="() => _createPlannedMealModel.MealId" />
            </div>

            <div class="mb-3">
                <label for="ordinalNumber" class="form-label">Ordinal number</label>
                <InputNumber min="1" max="255" id="ordinalNumber" class="form-control" @bind-Value="_createPlannedMealModel.OrdinalNumber" />
                <ValidationMessage For="() => _createPlannedMealModel.OrdinalNumber" />
            </div>

            <div class="mb-3">
                <label for="forDate" class="form-label">Scheduled for</label>
                <InputDate id="forDate" class="form-control" @bind-Value="_createPlannedMealModel.ScheduledFor" />
                <ValidationMessage For="() => _createPlannedMealModel.ScheduledFor" />
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>