@inherits BaseComponent<PlannedMealsListComponentViewModel>

@page "/plannedMeals"

@if (IsStatic == false)
{
    <EditForm Model="formModel" OnValidSubmit="OnValidSubmitAsync">
        <FluentValidationValidator />
        <div class="card">
            <div class="container">
                <div class="row row-first">
                    <div class="col-sm mb-3">
                        <label for="fromDate" class="form-label">Start date</label>
                        <InputDate locator="plannedMealsStartDateInput" id="fromDate" class="form-control" @bind-Value="formModel.From" />
                    </div>
                    <div class="col-sm mb-3">
                        <label for="toDate" class="form-label">End date</label>
                        <InputDate locator="plannedMealsEndDateInput" id="toDate" class="form-control" @bind-Value="formModel.To" />
                    </div>
                </div>
                <div class="row row-cols-1">
                    <div class="col-sm mb-3">
                        <button locator="plannedMealsSendButton" type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
                <div class="row row-cols-1">
                    <ValidationSummary />
                </div>
            </div>
        </div>
    </EditForm>
    <br />
}

<div class="card">
    @if ((To.Date - From.Date).TotalDays == 0)
    {
        <h5 class="card-header">Meals planned for @From.Date.ToString("dd.MM.yyyy")</h5>
    }
    else
    {
        <h5 class="card-header">Meals planned from @From.Date.ToString("dd.MM.yyyy") to @To.Date.ToString("dd.MM.yyyy")</h5>
    }

    <div class="card-body">
        @if (ViewModel.Response.Success == false)
        {
            <h6 class="card-title">@ViewModel.Response.Error.Title</h6>
            <ul>
                @foreach (var detail in ViewModel.Response.Error.Details)
                {
                    <li>@detail</li>
                }
            </ul>
        }
        else if (ViewModel.Response.Success == true && ViewModel.Response.Value.Count == 0)
        {
            <h6 class="card-title">There is no data for selected period</h6>
        }
        else
        {
            var days = ViewModel.Response.Value;

            if (ViewModel.Response.Value.Count == 1)
            {
                var day = days.FirstOrDefault();

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@($"heading{day.PlannedMeals.FirstOrDefault().Id}")">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse{day.PlannedMeals.FirstOrDefault().Id}")" aria-expanded="true" aria-controls="collapse0">
                                @($"{day.PlannedMeals.FirstOrDefault().OrdinalNumber}. {day.PlannedMeals.FirstOrDefault().Meal.Name}")
                            </button>
                        </h2>
                        <div id="@($"collapse{day.PlannedMeals.FirstOrDefault().Id}")" class="accordion-collapse collapse show" aria-labelledby="@($"heading{day.PlannedMeals.FirstOrDefault().Id}")" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @foreach (var ingredient in day.PlannedMeals.FirstOrDefault().Meal.Ingredients)
                                    {
                                        <li>@ingredient.Product.Name @ingredient.Amount @ingredient.Unit.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    @if (day.PlannedMeals.Count > 1)
                    {

                        for (int i = 1; i < day.PlannedMeals.Count; i++)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="@($"heading{day.PlannedMeals[i].Id}")">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse{day.PlannedMeals[i].Id}")" aria-expanded="false" aria-controls="@($"collapse{i}")">
                                        @($"{day.PlannedMeals[i].OrdinalNumber}. {day.PlannedMeals[i].Meal.Name}")
                                    </button>
                                </h2>
                                <div id="@($"collapse{day.PlannedMeals[i].Id}")" class="accordion-collapse collapse" aria-labelledby="@($"heading{day.PlannedMeals[i].Id}")" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            @foreach (var ingredient in day.PlannedMeals[i].Meal.Ingredients)
                                            {
                                                <li>@ingredient.Product.Name @ingredient.Amount @ingredient.Unit.Name</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <div class="accordion" id="daysAccordion">
                    @for (int i = 0; i < days.Count; i++)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@($"heading{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")" aria-expanded="false" aria-controls="@($"collapse{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")">
                                    @($"{days[i].ScheduledFor.ToString("dd.MM.yyyy")}")
                                </button>
                            </h2>
                            <div id="@($"collapse{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")" class="accordion-collapse collapse" aria-labelledby="@($"heading{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")" data-bs-parent="#daysAccordion">
                                <div class="accordion-body">

                                    <div class="accordion" id="@($"accordion{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")">
                                        @foreach (var plannedMeal in days[i].PlannedMeals)
                                        {
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="@($"heading{plannedMeal.Id}")">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse{plannedMeal.Id}")" aria-expanded="false" aria-controls="@($"collapse{i}")">
                                                        @($"{plannedMeal.OrdinalNumber}. {plannedMeal.Meal.Name}")
                                                    </button>
                                                </h2>
                                                <div id="@($"collapse{plannedMeal.Id}")" class="accordion-collapse collapse" aria-labelledby="@($"heading{plannedMeal.Id}")" data-bs-parent="@($"#accordion{days[i].ScheduledFor.ToString("yyyy-MM-dd")}")">
                                                    <div class="accordion-body">
                                                        <ul>
                                                            @foreach (var ingredient in plannedMeal.Meal.Ingredients)
                                                            {
                                                                <li>@ingredient.Product.Name @ingredient.Amount @ingredient.Unit.Name</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>