@inherits BaseComponent<ShoppingListComponentViewModel>

@page "/shoppingList"

<EditForm Model="formModel" OnValidSubmit="OnValidSubmitAsync">
    <FluentValidationValidator />
    <div class="card">
        <div class="container">
            <div class="row row-first">
                <div class="col-sm mb-3">
                    <label for="fromDate" class="form-label">Start date</label>
                    <InputDate id="fromDate" class="form-control" @bind-Value="formModel.From" />
                </div>
                <div class="col-sm mb-3">
                    <label for="toDate" class="form-label">End date</label>
                    <InputDate id="toDate" class="form-control" @bind-Value="formModel.To" />
                </div>
                <div class="col-sm mb-3">
                    <label for="peopleCount" class="form-label">People count</label>
                    <InputNumber id="peopleCount" class="form-control" @bind-Value="formModel.PeopleCount" step="0.5" min="0.5" max="10000"/>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col-sm mb-3">
                    <label for="listType" class="form-label">Get as</label>
                    <InputSelect id="listType" class="form-control" @bind-Value="formModel.Type">
                        @foreach (var listType in Enum.GetValues(typeof(FoodPlannerBlazor.Enums.ShoppingListTypeEnum)))
                        {
                            <option value="@listType">@listType.ToString().Replace('_', ' ')</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col-sm mb-3">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
            <div class="row row-cols-1">
                <ValidationSummary />
            </div>
        </div>
    </div>
</EditForm>

<br />

@if (ViewModel.ShoppingListResponse.Value != null && ViewModel.ShoppingListResponse.Value.Count > 0)
{
    <div class="card">
        <table class="table align-middle text-center">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Category</th>
                </tr>
            </thead>

            <tbody class="green-table">
                @foreach (var ingredient in ViewModel.ShoppingListResponse.Value)
                {
                    <tr>
                        <td>@(ViewModel.ShoppingListResponse.Value.IndexOf(ingredient)+1)</td>
                        <td>@ingredient.Name</td>
                        <td>@ingredient.Amount</td>
                        <td>@ingredient.Unit</td>
                        <td>@ingredient.Category</td>
                    </tr>
                }
            </tbody>
                        
        </table>
    </div>
}